@model OneBookViewModel

<h1>Информация про книгу</h1>
<h2>id книги = @Model.book.id</h2>
<h2>Название книги = @Model.book.name</h2>
<h2>Цена книги = @Model.book.price</h2>
<h2>Описание = @Model.book.longDesc</h2>
<img class="img-thumbnail" src="@Model.book.img" alt="@Model.book.name" style="width:220px;height:345px " />
<p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.book.id">Добавить в корзину</a></p>
