
@model Book
<div class="col-md-3">

    <img alt="BookCover"  class="book_img" src="@Model.img">
    <div class="book_desc">
        <p class="book_name">@Model.name<br><br>@Model.shortDesc</p>

        <p class="book_price">@Model.price ₽ </p>
    </div>
    <p><a asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.id">
           <button class="cart-buttons">
               Добавить в корзину
           </button>
        </a>
    </p>
    
    <p>
        <a asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="@Model.id">
            <button class="cart-buttons">
                Подробнее
            </button>
        </a>
    </p>
</div>